<nav>
	<a href="${pageContext.request.contextPath}/HomeServlet/showLogin">Login Page</a>
	<a href="${pageContext.request.contextPath}/HomeServlet/LoginMember">Login Member</a>
	<a href="${pageContext.request.contextPath}/HomeServlet/showRegistration">Registration Page</a>
	<a href="${pageContext.request.contextPath}/HomeServlet/registerMember">Register Member</a>
	<a href="${pageContext.request.contextPath}/HomeServlet/showWelcome">Welcome Page</a>
	<a href="${pageContext.request.contextPath}/HomeServlet/showProfile">Profile Page</a>
	<a href="${pageContext.request.contextPath}/HomeServlet/showEvents">Events Page</a>
	<a href="${pageContext.request.contextPath}/HomeServlet/logout">Logout Page</a>
</nav>                                      